[Unit]
Description=Take btrbk snapshots under the same Btrfs system.
PartOf=btrbk-shed.target

[Service]
Environment=NOTIFY_USER=
Environment=CONF_PATH=
Type=oneshot
ExecCondition=/bin/sh -c '[ -s "${CONF_PATH}" ]'
# Override this to prepare your backup source using custom logic.
# For example, `usr/bin/btrbk-shed-prepare-ostree-diff` collects diff against ostree base.
ExecStartPre=
ExecStart=/usr/bin/btrbk-shed-snapshot
